<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylefordetail.css"> 
    <script src="/static/js/echarts.js"></script>
        <link rel="stylesheet" href="/static/styleforsearch.css">
    <link rel="stylesheet" href="/static/styleforload.css">
    <link rel="stylesheet"  type="text/css" href="/static/style copy.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <div class="container">

                <a href="#" class="navbar-brand">钢铁直男の5G手机爬虫乐园</a>

                <!-- Toggler Button -->
        <button class="navbar-toggler btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

                <!-- Navbar Collapse -->
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <!-- Navigation Items -->
                        <li class="nav-item">
                            <a class="nav-link" href="/test-mainwindow/">返回主页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compare/">对比</a>
                        </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" onclick="window.history.back();">返回上一页</a>
                    </li>

                        <!-- Dropdown Menu for Small Screens -->
                        <li class="dropdown">
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/test-mainwindow/">返回主页</a></li>
                                <li><a class="dropdown-item" href="/compare/">对比</a></li>
                                <li><a class="dropdown-item" href="#" onclick="window.history.back();">返回上一页</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <section class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <img src={{ phone_img }} alt="1" class="img-fluid w-100"/>
                </div>
                <div class="col-md-6 p-3">
                    <h2>{{ phone_name }}</h2>
                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                            <th scope="col" class="col-lg-2">价格</th>
                            <th scope="col" class="col-lg-3">{{ phone_price }}</th>
                        </thead>
                        <tbody>
                            {% for key,value in details.items %}
                                {% if key != "" and value != "" %}
                                    <tr class="table-selfdefined">
                                        <th scope="row">{{key}}</th>
                                        <td>{{value}}</td>
                                    </tr>
                                {% endif %}
                            {%endfor%}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" id="add_cmp">加入对比</button>
                </div>
                <script>
                    var phone_id = "{{phone_id}}";
                    $(document).ready(function(){
                        $("#add_cmp").click(function(){
                            $.ajax({
                                url: "/add_to_compare/",
                                type: "post",
                                data:{
                                    'phone_id': phone_id,
                                },
                                success: function(data) {
                                if (data.insert_status==false){
                                    window.alert("加入失败或已加入对比");
                                    }
                                    else {
                                    window.alert("加入成功");
                                    }
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </section>


    <section class="p-5">
        <div class="container" id="llmdiv">
        <button type="button" class="btn btn-primary" id="LLM" disabled="true">等待评论爬取</button>

        </div>
        <script>
            var phone_id = "{{phone_id}}";
            $(document).ready(function(){
                $("#LLM").click(function(){
                    $.ajax({
                        url: "/generate_summary/",
                        type: "post",
                        data:{
                            'phone_id': phone_id,
                        },
                        success: function(data) {
                            if(data.has_token==false){

                               window.alert("请先输入正确token");
                            }
                            else if (data.status==false){
                       window.alert("大模型总结失败,请检查输入的token后重试");

                            }
                            else{
                                window.alert("大模型总结成功");
                                $('#llmdiv').append('<h2>'+data.result+'</h2>')
                                }

                        }
                    });
                });
            });
        </script>
    </section>

    <section class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-4">
<!--                    <img alt="1" class="img-fluid" id="wc" />-->
<!--                     <button type="button" class="btn btn-primary" id="word_cloud"disabled>等待爬取评论</button>-->
                </div>
                 <div class="row g-4" id="test-row">
            <div class="container mt-3">
                <h2 class="text-center p-5" id="word_cloud">正在爬取评论</h2>
                <div class="spinner-container">
                    <div class="spinner-grow text-muted"></div>
                    <div class="spinner-grow text-primary"></div>
                    <div class="spinner-grow text-success"></div>
                    <div class="spinner-grow text-info"></div>
                    <div class="spinner-grow text-warning"></div>
                    <div class="spinner-grow text-danger"></div>
                    <div class="spinner-grow text-brightyellow"></div>
                    <div class="spinner-grow text-purple"></div>
                    <div class="spinner-grow text-light"></div>
                </div>
            </div>
            <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"
            ></script>
        </div>
                 <script>
                 var phone_id = "{{phone_id}}";
                        // function poll_task0(){
                        //         $.ajax({
                        //             url: "/generate_WC/",
                        //             type: "post",
                        //             data:{
                        //                 'phone_id': phone_id,
                        //             },
                        //             success: function(data) {
                        //             $('#test-row').empty();
                        //             var img = new Image();
                        //             img.src = 'data:image/png;base64,'+data.result_img_p;
                        //             $('#test-row').append('<h2>正面评论词云图</h2>')
                        //             $('#test-row').append('<img alt="1" class="img-fluid col-4 d-flex" src= '+img.src+' id="wc" />');
                        //             img.src = 'data:image/png;base64,'+data.result_img_n;
                        //             $('#test-row').append('<h2>负面评论词云图</h2>')
                        //             $('#test-row').append('<img alt="1" class="img-fluid col-4 d-flex" src= '+img.src+' id="wc" />');
                        //             $("#word_cloud").text("词云生成成功");
                        //             }
                        //         });
                        // }
                        function poll_task0(){
    $.ajax({
        url: "/generate_WC/",
        type: "post",
        data:{
            'phone_id': phone_id,
        },
        success: function(data) {
            console.log(data);

            $('#test-row').empty();
            var row = $('<div class="row"></div>');
            var imgPos = new Image();
            imgPos.src = 'data:image/png;base64,'+data.result_img_p;
            var colPos = $('<div class="col-md-4"></div>');
            colPos.append('<h2>正面评论词云图</h2>');
            colPos.append($('<img alt="正面评论词云图" class="img-fluid" src= '+imgPos.src+' id="wc_pos" />'));
            row.append(colPos);

            var imgNeg = new Image();
            imgNeg.src = 'data:image/png;base64,'+data.result_img_n;
            var colNeg = $('<div class="col-md-4"></div>');
            colNeg.append('<h2>负面评论词云图</h2>');
            colNeg.append($('<img alt="负面评论词云图" class="img-fluid" src= '+imgNeg.src+' id="wc_neg" />'));
            row.append(colNeg);

            var echartCol = $('<div class="col-md-4"></div>');
            echartCol.append('<div id="echart-container" style="width: 100%; height: 400px;"></div>');
            row.append(echartCol);
            $('#test-row').append(row);
            $("#word_cloud").text("词云生成成功");

            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('echart-container'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '评论分布',
                    //subtext: '正面、中立与负面',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: '评论数',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: [
                            {value:  data.com_info[0] , name: '正面评论'},
                            {value:   data.com_info[1] , name: '中立评论'},
                            {value:   data.com_info[2] , name: '负面评论'}
                        ]
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);


        }
    });
}

                        function poll_task(){
                            $.ajax({
                                url: "/check_comment/",
                                type: "post",
                                data:{
                                    'phone_id': phone_id,
                                },
                                success: function(data) {
                                    if(data.has_comment == true){
<!--                                        $("#word_cloud").removeAttr("disabled");-->
                                         $("#word_cloud").text("评论爬取成功,正在生成词云");
                                         $("#LLM").text("点击生成大模型总结");
                                            $("#LLM").removeAttr("disabled");

                                         poll_task0();
                                    }
                                    else{
                                        setTimeout(function(){
                                        }, 1000);
                                    }
                                }
                            });
                        }

                        poll_task();
                    </script>

<!--                <script>-->
<!--                    var myChart = echarts.init(document.getElementById('echart-container'));-->

<!--    // 指定图表的配置项和数据-->
<!--    var option = {-->
<!--        title: {-->
<!--            text: '评论分布',-->
<!--            subtext: '正面、中立与负面',-->
<!--            left: 'center'-->
<!--        },-->
<!--        tooltip: {-->
<!--            trigger: 'item'-->
<!--        },-->
<!--        legend: {-->
<!--            orient: 'vertical',-->
<!--            left: 'left'-->
<!--        },-->
<!--        series: [-->
<!--            {-->
<!--                name: '评论数',-->
<!--                type: 'pie',-->
<!--                radius: ['40%', '70%'],-->
<!--                avoidLabelOverlap: false,-->
<!--                label: {-->
<!--                    show: false,-->
<!--                    position: 'center'-->
<!--                },-->
<!--                emphasis: {-->
<!--                    label: {-->
<!--                        show: true,-->
<!--                        fontSize: '30',-->
<!--                        fontWeight: 'bold'-->
<!--                    }-->
<!--                },-->
<!--                labelLine: {-->
<!--                    show: false-->
<!--                },-->
<!--                data: [-->
<!--                    {value: 30, name: '正面评论'},-->
<!--                    {value: 30, name: '中立评论'},-->
<!--                    {value: 30, name: '负面评论'}-->
<!--                ]-->
<!--            }-->
<!--        ]-->
<!--    };-->
<!--    myChart.setOption(option);-->
<!--                </script>-->

            </div>
        </div>
    </section>
    
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>
