<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>

</head>
<body>
请耐心等待爬虫结果.....
<!--<script>-->
<!--    function pollTask() {-->
<!--    $.ajax({-->
<!--        url: "/check_task/",  // 检查任务的URL-->
<!--        success: function(data) {-->
<!--            if (data.task_done) {-->
<!--                // 如果任务完成，重定向到新的页面-->
<!--                window.location.href = "/searchresult/";-->
<!--            } else {-->
<!--                // 如果任务未完成，等待一段时间后再次检查-->
<!--                setTimeout(pollTask, 1000);-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--}-->
<!--pollTask();-->
<!--    </script>-->
</body>
</html>